CineVerCliente/Connected Services/EmpleadoServicio/EmpleadoServicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2020/EmpleadoServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" />
  <xs:element name="RegistrarEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" minOccurs="0" name="empleadoDTO" nillable="true" type="q1:EmpleadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" minOccurs="0" name="RegistrarEmpleadoResult" nillable="true" type="q2:ResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" minOccurs="0" name="empleadoDTO" nillable="true" type="q3:EmpleadoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" minOccurs="0" name="ModificarEmpleadoResult" nillable="true" type="q4:ResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InhabilitarEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InhabilitarEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" minOccurs="0" name="InhabilitarEmpleadoResult" nillable="true" type="q5:ResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpleados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpleadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" minOccurs="0" name="ObtenerEmpleadosResult" nillable="true" type="q6:ListaEmpleadosDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEmpleadoPorMatricula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEmpleadoPorMatriculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" minOccurs="0" name="BuscarEmpleadoPorMatriculaResult" nillable="true" type="q7:EmpleadoResponseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matriucla" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" minOccurs="0" name="ExisteEmpleadoResult" nillable="true" type="q8:ResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarInicioSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarInicioSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" minOccurs="0" name="VerificarInicioSesionResult" nillable="true" type="q9:ResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>