CineVerCliente/Connected Services/EmpleadoServicio/EmpleadoServicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmpleadoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Calle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Contratado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IdEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="IdSucursal" type="xs:int" />
      <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nss" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCasa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroTelefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpleadoDTO" nillable="true" type="tns:EmpleadoDTO" />
  <xs:complexType name="ResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsExitoso" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDTO" nillable="true" type="tns:ResultDTO" />
  <xs:complexType name="ListaEmpleadosDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Empleados" nillable="true" type="tns:ArrayOfEmpleadoDTO" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ResultDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaEmpleadosDTO" nillable="true" type="tns:ListaEmpleadosDTO" />
  <xs:complexType name="ArrayOfEmpleadoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpleadoDTO" nillable="true" type="tns:EmpleadoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpleadoDTO" nillable="true" type="tns:ArrayOfEmpleadoDTO" />
  <xs:complexType name="EmpleadoResponseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultDTO" nillable="true" type="tns:ResultDTO" />
      <xs:element minOccurs="0" name="empleado" nillable="true" type="tns:EmpleadoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpleadoResponseDTO" nillable="true" type="tns:EmpleadoResponseDTO" />
</xs:schema>