CineVerCliente/Connected Services/EmpleadoServicio/EmpleadoServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="EmpleadoServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IEmpleadoServicio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2020/EmpleadoServicio?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2020/EmpleadoServicio?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2020/EmpleadoServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpleadoServicio_RegistrarEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarEmpleado" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_RegistrarEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_ModificarEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEmpleado" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_ModificarEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_InhabilitarEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:InhabilitarEmpleado" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_InhabilitarEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:InhabilitarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_ObtenerEmpleados_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpleados" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_ObtenerEmpleados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpleadosResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_BuscarEmpleadoPorMatricula_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEmpleadoPorMatricula" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_BuscarEmpleadoPorMatricula_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEmpleadoPorMatriculaResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_ExisteEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteEmpleado" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoServicio_ExisteEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteEmpleadoResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpleadoServicio">
    <wsdl:operation name="RegistrarEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleadoServicio/RegistrarEmpleado" message="tns:IEmpleadoServicio_RegistrarEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleadoServicio/RegistrarEmpleadoResponse" message="tns:IEmpleadoServicio_RegistrarEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleadoServicio/ModificarEmpleado" message="tns:IEmpleadoServicio_ModificarEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleadoServicio/ModificarEmpleadoResponse" message="tns:IEmpleadoServicio_ModificarEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InhabilitarEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleadoServicio/InhabilitarEmpleado" message="tns:IEmpleadoServicio_InhabilitarEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleadoServicio/InhabilitarEmpleadoResponse" message="tns:IEmpleadoServicio_InhabilitarEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpleados">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleadoServicio/ObtenerEmpleados" message="tns:IEmpleadoServicio_ObtenerEmpleados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleadoServicio/ObtenerEmpleadosResponse" message="tns:IEmpleadoServicio_ObtenerEmpleados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEmpleadoPorMatricula">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleadoServicio/BuscarEmpleadoPorMatricula" message="tns:IEmpleadoServicio_BuscarEmpleadoPorMatricula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleadoServicio/BuscarEmpleadoPorMatriculaResponse" message="tns:IEmpleadoServicio_BuscarEmpleadoPorMatricula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleadoServicio/ExisteEmpleado" message="tns:IEmpleadoServicio_ExisteEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleadoServicio/ExisteEmpleadoResponse" message="tns:IEmpleadoServicio_ExisteEmpleado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IEmpleadoServicio" type="tns:IEmpleadoServicio">
    <wsp:PolicyReference URI="#NetTcpBinding_IEmpleadoServicio_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegistrarEmpleado">
      <soap12:operation soapAction="http://tempuri.org/IEmpleadoServicio/RegistrarEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEmpleado">
      <soap12:operation soapAction="http://tempuri.org/IEmpleadoServicio/ModificarEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InhabilitarEmpleado">
      <soap12:operation soapAction="http://tempuri.org/IEmpleadoServicio/InhabilitarEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpleados">
      <soap12:operation soapAction="http://tempuri.org/IEmpleadoServicio/ObtenerEmpleados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEmpleadoPorMatricula">
      <soap12:operation soapAction="http://tempuri.org/IEmpleadoServicio/BuscarEmpleadoPorMatricula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteEmpleado">
      <soap12:operation soapAction="http://tempuri.org/IEmpleadoServicio/ExisteEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmpleadoServicio">
    <wsdl:port name="NetTcpBinding_IEmpleadoServicio" binding="tns:NetTcpBinding_IEmpleadoServicio">
      <soap12:address location="net.tcp://localhost:1010/EmpleadoServicio/EmpleadoServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1010/EmpleadoServicio/EmpleadoServicio</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-GDRRFCLH\laraf</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>