CineVerCliente/Connected Services/GastoServicio/GastoServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GastoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="IdGasto" type="xs:int" />
      <xs:element minOccurs="0" name="IdSucursal" type="xs:int" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Motivo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GastoDTO" nillable="true" type="tns:GastoDTO" />
  <xs:complexType name="ResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsExitoso" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDTO" nillable="true" type="tns:ResultDTO" />
  <xs:complexType name="ListaGastosDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gastos" nillable="true" type="tns:ArrayOfGastoDTO" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ResultDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaGastosDTO" nillable="true" type="tns:ListaGastosDTO" />
  <xs:complexType name="ArrayOfGastoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GastoDTO" nillable="true" type="tns:GastoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGastoDTO" nillable="true" type="tns:ArrayOfGastoDTO" />
</xs:schema>