CineVerCliente/Connected Services/CuentaFidelidadServicio/CuentaFidelidadServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CuentaFidelidadDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCuenta" type="xs:int" />
      <xs:element minOccurs="0" name="IdSocio" type="xs:int" />
      <xs:element minOccurs="0" name="Puntos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CuentaFidelidadDTO" nillable="true" type="tns:CuentaFidelidadDTO" />
  <xs:complexType name="ResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsExitoso" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDTO" nillable="true" type="tns:ResultDTO" />
  <xs:complexType name="CuentaFidelidadResponseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultDTO" nillable="true" type="tns:ResultDTO" />
      <xs:element minOccurs="0" name="cuenta" nillable="true" type="tns:CuentaFidelidadDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CuentaFidelidadResponseDTO" nillable="true" type="tns:CuentaFidelidadResponseDTO" />
</xs:schema>