CineVerCliente/Connected Services/VentaServicio/VentaServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VentaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FolioVenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="IdSocio" type="xs:int" />
      <xs:element minOccurs="0" name="IdSucursal" type="xs:int" />
      <xs:element minOccurs="0" name="IdVenta" type="xs:int" />
      <xs:element minOccurs="0" name="MetodoPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIpoVenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VentaDTO" nillable="true" type="tns:VentaDTO" />
  <xs:complexType name="ResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsExitoso" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDTO" nillable="true" type="tns:ResultDTO" />
  <xs:complexType name="ListaPromocionesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Promociones" nillable="true" type="tns:ArrayOfPromocionDTO" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ResultDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaPromocionesDTO" nillable="true" type="tns:ListaPromocionesDTO" />
  <xs:complexType name="ArrayOfPromocionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PromocionDTO" nillable="true" type="tns:PromocionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPromocionDTO" nillable="true" type="tns:ArrayOfPromocionDTO" />
  <xs:complexType name="PromocionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DomingoAplica" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdPromocion" type="xs:int" />
      <xs:element minOccurs="0" name="IdSucursal" type="xs:int" />
      <xs:element minOccurs="0" name="JuevesAplica" type="xs:boolean" />
      <xs:element minOccurs="0" name="LunesAplica" type="xs:boolean" />
      <xs:element minOccurs="0" name="MartesAplica" type="xs:boolean" />
      <xs:element minOccurs="0" name="MiercolesAplica" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroProductosNecesarios" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroProductosPagar" type="xs:int" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SabadoAplica" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViernesAplica" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PromocionDTO" nillable="true" type="tns:PromocionDTO" />
  <xs:complexType name="ListaVentasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ResultDTO" />
      <xs:element minOccurs="0" name="Ventas" nillable="true" type="tns:ArrayOfVentaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaVentasDTO" nillable="true" type="tns:ListaVentasDTO" />
  <xs:complexType name="ArrayOfVentaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VentaDTO" nillable="true" type="tns:VentaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVentaDTO" nillable="true" type="tns:ArrayOfVentaDTO" />
  <xs:complexType name="VentaTipoResponseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultDTO" nillable="true" type="tns:ResultDTO" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VentaTipoResponseDTO" nillable="true" type="tns:VentaTipoResponseDTO" />
</xs:schema>