CineVerCliente/Connected Services/CorteCajaServicio/CorteCajaServicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CorteCajaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiferenciaEfectivo" type="xs:decimal" />
      <xs:element minOccurs="0" name="EfectivoCaja" type="xs:decimal" />
      <xs:element minOccurs="0" name="EfectivoEsperado" type="xs:decimal" />
      <xs:element minOccurs="0" name="FechaCorte" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Ganancias" type="xs:decimal" />
      <xs:element minOccurs="0" name="Gastos" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdCorteCaja" type="xs:int" />
      <xs:element minOccurs="0" name="IdSucursal" type="xs:int" />
      <xs:element minOccurs="0" name="InicioDia" type="xs:decimal" />
      <xs:element minOccurs="0" name="VentaTotal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CorteCajaDTO" nillable="true" type="tns:CorteCajaDTO" />
  <xs:complexType name="ResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsExitoso" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDTO" nillable="true" type="tns:ResultDTO" />
  <xs:complexType name="CorteCajaInicioFinDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="InicioDia" type="xs:decimal" />
      <xs:element minOccurs="0" name="ResultDTO" nillable="true" type="tns:ResultDTO" />
      <xs:element minOccurs="0" name="VentaTotal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CorteCajaInicioFinDTO" nillable="true" type="tns:CorteCajaInicioFinDTO" />
  <xs:complexType name="CorteCajaResponseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="ResultDTO" nillable="true" type="tns:ResultDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CorteCajaResponseDTO" nillable="true" type="tns:CorteCajaResponseDTO" />
</xs:schema>