CineVerCliente/Connected Services/FuncionServicio/FuncionServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2020/FuncionServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" />
  <xs:element name="ObtenerFuncionesPorPeliculaYFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPelicula" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFuncionesPorPeliculaYFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" minOccurs="0" name="ObtenerFuncionesPorPeliculaYFechaResult" nillable="true" type="q1:ListaFuncionesDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFuncionesPorFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFuncionesPorFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" minOccurs="0" name="ObtenerFuncionesPorFechaResult" nillable="true" type="q2:ListaFuncionesDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFuncionesPorFechaYSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFuncionesPorFechaYSalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" minOccurs="0" name="ObtenerFuncionesPorFechaYSalaResult" nillable="true" type="q3:ListaFuncionesDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarFuncion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" minOccurs="0" name="funcion" nillable="true" type="q4:FuncionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarFuncionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarFuncionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarFUncion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" minOccurs="0" name="funcionOriginal" nillable="true" type="q5:FuncionDTO" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" minOccurs="0" name="funcionEditada" nillable="true" type="q6:FuncionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarFUncionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarFUncionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarFuncion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" minOccurs="0" name="funcion" nillable="true" type="q7:FuncionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarFuncionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarFuncionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>