CineVerCliente/Connected Services/FuncionServicio/FuncionServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="FuncionServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFuncionServicio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2020/FuncionServicio?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2020/FuncionServicio?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2020/FuncionServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFuncionServicio_ObtenerFuncionesPorPeliculaYFecha_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFuncionesPorPeliculaYFecha" />
  </wsdl:message>
  <wsdl:message name="IFuncionServicio_ObtenerFuncionesPorPeliculaYFecha_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFuncionesPorPeliculaYFechaResponse" />
  </wsdl:message>
  <wsdl:message name="IFuncionServicio_ObtenerFuncionesPorFecha_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFuncionesPorFecha" />
  </wsdl:message>
  <wsdl:message name="IFuncionServicio_ObtenerFuncionesPorFecha_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFuncionesPorFechaResponse" />
  </wsdl:message>
  <wsdl:message name="IFuncionServicio_ObtenerFuncionesPorFechaYSala_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFuncionesPorFechaYSala" />
  </wsdl:message>
  <wsdl:message name="IFuncionServicio_ObtenerFuncionesPorFechaYSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFuncionesPorFechaYSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IFuncionServicio_AgregarFuncion_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarFuncion" />
  </wsdl:message>
  <wsdl:message name="IFuncionServicio_AgregarFuncion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarFuncionResponse" />
  </wsdl:message>
  <wsdl:message name="IFuncionServicio_EditarFUncion_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarFUncion" />
  </wsdl:message>
  <wsdl:message name="IFuncionServicio_EditarFUncion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarFUncionResponse" />
  </wsdl:message>
  <wsdl:message name="IFuncionServicio_EliminarFuncion_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarFuncion" />
  </wsdl:message>
  <wsdl:message name="IFuncionServicio_EliminarFuncion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarFuncionResponse" />
  </wsdl:message>
  <wsdl:portType name="IFuncionServicio">
    <wsdl:operation name="ObtenerFuncionesPorPeliculaYFecha">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuncionServicio/ObtenerFuncionesPorPeliculaYFecha" message="tns:IFuncionServicio_ObtenerFuncionesPorPeliculaYFecha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuncionServicio/ObtenerFuncionesPorPeliculaYFechaResponse" message="tns:IFuncionServicio_ObtenerFuncionesPorPeliculaYFecha_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFuncionesPorFecha">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuncionServicio/ObtenerFuncionesPorFecha" message="tns:IFuncionServicio_ObtenerFuncionesPorFecha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuncionServicio/ObtenerFuncionesPorFechaResponse" message="tns:IFuncionServicio_ObtenerFuncionesPorFecha_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFuncionesPorFechaYSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuncionServicio/ObtenerFuncionesPorFechaYSala" message="tns:IFuncionServicio_ObtenerFuncionesPorFechaYSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuncionServicio/ObtenerFuncionesPorFechaYSalaResponse" message="tns:IFuncionServicio_ObtenerFuncionesPorFechaYSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarFuncion">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuncionServicio/AgregarFuncion" message="tns:IFuncionServicio_AgregarFuncion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuncionServicio/AgregarFuncionResponse" message="tns:IFuncionServicio_AgregarFuncion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarFUncion">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuncionServicio/EditarFUncion" message="tns:IFuncionServicio_EditarFUncion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuncionServicio/EditarFUncionResponse" message="tns:IFuncionServicio_EditarFUncion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarFuncion">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuncionServicio/EliminarFuncion" message="tns:IFuncionServicio_EliminarFuncion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuncionServicio/EliminarFuncionResponse" message="tns:IFuncionServicio_EliminarFuncion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFuncionServicio" type="tns:IFuncionServicio">
    <wsp:PolicyReference URI="#NetTcpBinding_IFuncionServicio_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ObtenerFuncionesPorPeliculaYFecha">
      <soap12:operation soapAction="http://tempuri.org/IFuncionServicio/ObtenerFuncionesPorPeliculaYFecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFuncionesPorFecha">
      <soap12:operation soapAction="http://tempuri.org/IFuncionServicio/ObtenerFuncionesPorFecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFuncionesPorFechaYSala">
      <soap12:operation soapAction="http://tempuri.org/IFuncionServicio/ObtenerFuncionesPorFechaYSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarFuncion">
      <soap12:operation soapAction="http://tempuri.org/IFuncionServicio/AgregarFuncion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarFUncion">
      <soap12:operation soapAction="http://tempuri.org/IFuncionServicio/EditarFUncion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarFuncion">
      <soap12:operation soapAction="http://tempuri.org/IFuncionServicio/EliminarFuncion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FuncionServicio">
    <wsdl:port name="NetTcpBinding_IFuncionServicio" binding="tns:NetTcpBinding_IFuncionServicio">
      <soap12:address location="net.tcp://localhost:1010/FuncionServicio/FuncionServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1010/FuncionServicio/FuncionServicio</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-4SRV2TJ2\yaela</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>