CineVerCliente/Connected Services/FuncionServicio/FuncionServicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2020/FuncionServicio?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ListaFuncionesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="funciones" nillable="true" type="tns:ArrayOfFuncionDTO" />
      <xs:element minOccurs="0" name="result" nillable="true" type="tns:ResultDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaFuncionesDTO" nillable="true" type="tns:ListaFuncionesDTO" />
  <xs:complexType name="ArrayOfFuncionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FuncionDTO" nillable="true" type="tns:FuncionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncionDTO" nillable="true" type="tns:ArrayOfFuncionDTO" />
  <xs:complexType name="FuncionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Película" nillable="true" type="tns:PeliculaDTOs" />
      <xs:element minOccurs="0" name="Sala" nillable="true" type="tns:SalaDTO" />
      <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horaInicio" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="idFuncion" type="xs:int" />
      <xs:element minOccurs="0" name="idPelicula" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idSala" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="precioBoleto" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FuncionDTO" nillable="true" type="tns:FuncionDTO" />
  <xs:complexType name="PeliculaDTOs">
    <xs:sequence>
      <xs:element minOccurs="0" name="director" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="duracion" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="genero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPelicula" type="xs:int" />
      <xs:element minOccurs="0" name="idSucursal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="poster" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="sinopsis" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeliculaDTOs" nillable="true" type="tns:PeliculaDTOs" />
  <xs:complexType name="SalaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoSala" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idSala" type="xs:int" />
      <xs:element minOccurs="0" name="idSucursal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroFilas" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalaDTO" nillable="true" type="tns:SalaDTO" />
  <xs:complexType name="ResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsExitoso" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDTO" nillable="true" type="tns:ResultDTO" />
</xs:schema>