CineVerCliente/Connected Services/FilaServicio/FilaServicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FilaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="idFila" type="xs:int" />
      <xs:element minOccurs="0" name="idSala" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="numeroAsientos" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="númeroFila" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilaDTO" nillable="true" type="tns:FilaDTO" />
  <xs:complexType name="ListaFilasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Filas" nillable="true" type="tns:ArrayOfFilaDTO" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ResultDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaFilasDTO" nillable="true" type="tns:ListaFilasDTO" />
  <xs:complexType name="ArrayOfFilaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FilaDTO" nillable="true" type="tns:FilaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilaDTO" nillable="true" type="tns:ArrayOfFilaDTO" />
  <xs:complexType name="ResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsExitoso" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDTO" nillable="true" type="tns:ResultDTO" />
</xs:schema>