CineVerCliente/Connected Services/FilaServicio/FilaServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="FilaServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFilaServicio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2020/FilaServicio?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2020/FilaServicio?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2020/FilaServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFilaServicio_ObtenerIdFila_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdFila" />
  </wsdl:message>
  <wsdl:message name="IFilaServicio_ObtenerIdFila_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdFilaResponse" />
  </wsdl:message>
  <wsdl:message name="IFilaServicio_AgregarFila_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarFila" />
  </wsdl:message>
  <wsdl:message name="IFilaServicio_AgregarFila_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarFilaResponse" />
  </wsdl:message>
  <wsdl:message name="IFilaServicio_EditarFila_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarFila" />
  </wsdl:message>
  <wsdl:message name="IFilaServicio_EditarFila_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarFilaResponse" />
  </wsdl:message>
  <wsdl:message name="IFilaServicio_EliminarFila_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarFila" />
  </wsdl:message>
  <wsdl:message name="IFilaServicio_EliminarFila_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarFilaResponse" />
  </wsdl:message>
  <wsdl:message name="IFilaServicio_ObtenerFilasDeSala_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFilasDeSala" />
  </wsdl:message>
  <wsdl:message name="IFilaServicio_ObtenerFilasDeSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFilasDeSalaResponse" />
  </wsdl:message>
  <wsdl:portType name="IFilaServicio">
    <wsdl:operation name="ObtenerIdFila">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilaServicio/ObtenerIdFila" message="tns:IFilaServicio_ObtenerIdFila_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilaServicio/ObtenerIdFilaResponse" message="tns:IFilaServicio_ObtenerIdFila_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarFila">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilaServicio/AgregarFila" message="tns:IFilaServicio_AgregarFila_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilaServicio/AgregarFilaResponse" message="tns:IFilaServicio_AgregarFila_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarFila">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilaServicio/EditarFila" message="tns:IFilaServicio_EditarFila_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilaServicio/EditarFilaResponse" message="tns:IFilaServicio_EditarFila_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarFila">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilaServicio/EliminarFila" message="tns:IFilaServicio_EliminarFila_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilaServicio/EliminarFilaResponse" message="tns:IFilaServicio_EliminarFila_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFilasDeSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilaServicio/ObtenerFilasDeSala" message="tns:IFilaServicio_ObtenerFilasDeSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilaServicio/ObtenerFilasDeSalaResponse" message="tns:IFilaServicio_ObtenerFilasDeSala_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFilaServicio" type="tns:IFilaServicio">
    <wsp:PolicyReference URI="#NetTcpBinding_IFilaServicio_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ObtenerIdFila">
      <soap12:operation soapAction="http://tempuri.org/IFilaServicio/ObtenerIdFila" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarFila">
      <soap12:operation soapAction="http://tempuri.org/IFilaServicio/AgregarFila" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarFila">
      <soap12:operation soapAction="http://tempuri.org/IFilaServicio/EditarFila" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarFila">
      <soap12:operation soapAction="http://tempuri.org/IFilaServicio/EliminarFila" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFilasDeSala">
      <soap12:operation soapAction="http://tempuri.org/IFilaServicio/ObtenerFilasDeSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FilaServicio">
    <wsdl:port name="NetTcpBinding_IFilaServicio" binding="tns:NetTcpBinding_IFilaServicio">
      <soap12:address location="net.tcp://localhost:1010/FilaServicio/FilaServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1010/FilaServicio/FilaServicio</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ESTUDIANTES\zS22013626</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>