CineVerCliente/Connected Services/SucursalServicio/SucursalServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2020/SucursalServicio?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SucursalDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraApertura" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraCierre" type="ser:duration" />
      <xs:element minOccurs="0" name="IdSucursal" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroEnLaCalle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SucursalDTO" nillable="true" type="tns:SucursalDTO" />
  <xs:complexType name="ResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsExitoso" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDTO" nillable="true" type="tns:ResultDTO" />
  <xs:complexType name="ListaSucursalesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ResultDTO" />
      <xs:element minOccurs="0" name="Sucursales" nillable="true" type="tns:ArrayOfSucursalDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaSucursalesDTO" nillable="true" type="tns:ListaSucursalesDTO" />
  <xs:complexType name="ArrayOfSucursalDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SucursalDTO" nillable="true" type="tns:SucursalDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSucursalDTO" nillable="true" type="tns:ArrayOfSucursalDTO" />
</xs:schema>