CineVerCliente/Connected Services/SucursalServicio/SucursalServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SucursalServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISucursalServicio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2020/SucursalServicio?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2020/SucursalServicio?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2020/SucursalServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISucursalServicio_GuardarSucursal_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarSucursal" />
  </wsdl:message>
  <wsdl:message name="ISucursalServicio_GuardarSucursal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="ISucursalServicio_ActualizarSucursal_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarSucursal" />
  </wsdl:message>
  <wsdl:message name="ISucursalServicio_ActualizarSucursal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="ISucursalServicio_CerrarSucursal_InputMessage">
    <wsdl:part name="parameters" element="tns:CerrarSucursal" />
  </wsdl:message>
  <wsdl:message name="ISucursalServicio_CerrarSucursal_OutputMessage">
    <wsdl:part name="parameters" element="tns:CerrarSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="ISucursalServicio_ObtenerSucursales_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSucursales" />
  </wsdl:message>
  <wsdl:message name="ISucursalServicio_ObtenerSucursales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSucursalesResponse" />
  </wsdl:message>
  <wsdl:message name="ISucursalServicio_ObtenerAsientosPorFila_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAsientosPorFila" />
  </wsdl:message>
  <wsdl:message name="ISucursalServicio_ObtenerAsientosPorFila_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAsientosPorFilaResponse" />
  </wsdl:message>
  <wsdl:message name="ISucursalServicio_ObtenerAsientosPorFuncion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAsientosPorFuncion" />
  </wsdl:message>
  <wsdl:message name="ISucursalServicio_ObtenerAsientosPorFuncion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAsientosPorFuncionResponse" />
  </wsdl:message>
  <wsdl:portType name="ISucursalServicio">
    <wsdl:operation name="GuardarSucursal">
      <wsdl:input wsaw:Action="http://tempuri.org/ISucursalServicio/GuardarSucursal" message="tns:ISucursalServicio_GuardarSucursal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISucursalServicio/GuardarSucursalResponse" message="tns:ISucursalServicio_GuardarSucursal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarSucursal">
      <wsdl:input wsaw:Action="http://tempuri.org/ISucursalServicio/ActualizarSucursal" message="tns:ISucursalServicio_ActualizarSucursal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISucursalServicio/ActualizarSucursalResponse" message="tns:ISucursalServicio_ActualizarSucursal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CerrarSucursal">
      <wsdl:input wsaw:Action="http://tempuri.org/ISucursalServicio/CerrarSucursal" message="tns:ISucursalServicio_CerrarSucursal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISucursalServicio/CerrarSucursalResponse" message="tns:ISucursalServicio_CerrarSucursal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSucursales">
      <wsdl:input wsaw:Action="http://tempuri.org/ISucursalServicio/ObtenerSucursales" message="tns:ISucursalServicio_ObtenerSucursales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISucursalServicio/ObtenerSucursalesResponse" message="tns:ISucursalServicio_ObtenerSucursales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAsientosPorFila">
      <wsdl:input wsaw:Action="http://tempuri.org/ISucursalServicio/ObtenerAsientosPorFila" message="tns:ISucursalServicio_ObtenerAsientosPorFila_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISucursalServicio/ObtenerAsientosPorFilaResponse" message="tns:ISucursalServicio_ObtenerAsientosPorFila_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAsientosPorFuncion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISucursalServicio/ObtenerAsientosPorFuncion" message="tns:ISucursalServicio_ObtenerAsientosPorFuncion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISucursalServicio/ObtenerAsientosPorFuncionResponse" message="tns:ISucursalServicio_ObtenerAsientosPorFuncion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISucursalServicio" type="tns:ISucursalServicio">
    <wsp:PolicyReference URI="#NetTcpBinding_ISucursalServicio_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GuardarSucursal">
      <soap12:operation soapAction="http://tempuri.org/ISucursalServicio/GuardarSucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarSucursal">
      <soap12:operation soapAction="http://tempuri.org/ISucursalServicio/ActualizarSucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CerrarSucursal">
      <soap12:operation soapAction="http://tempuri.org/ISucursalServicio/CerrarSucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSucursales">
      <soap12:operation soapAction="http://tempuri.org/ISucursalServicio/ObtenerSucursales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAsientosPorFila">
      <soap12:operation soapAction="http://tempuri.org/ISucursalServicio/ObtenerAsientosPorFila" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAsientosPorFuncion">
      <soap12:operation soapAction="http://tempuri.org/ISucursalServicio/ObtenerAsientosPorFuncion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SucursalServicio">
    <wsdl:port name="NetTcpBinding_ISucursalServicio" binding="tns:NetTcpBinding_ISucursalServicio">
      <soap12:address location="net.tcp://localhost:1010/SucursalServicio/SucursalServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1010/SucursalServicio/SucursalServicio</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-4SRV2TJ2\yaela</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>