CineVerCliente/Connected Services/SocioServicio/SocioServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SocioServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISocioServicio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2020/SocioServicio?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2020/SocioServicio?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2020/SocioServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISocioServicio_RegistrarSocio_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarSocio" />
  </wsdl:message>
  <wsdl:message name="ISocioServicio_RegistrarSocio_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarSocioResponse" />
  </wsdl:message>
  <wsdl:message name="ISocioServicio_ModificarSocio_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarSocio" />
  </wsdl:message>
  <wsdl:message name="ISocioServicio_ModificarSocio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarSocioResponse" />
  </wsdl:message>
  <wsdl:message name="ISocioServicio_InhabilitarCuentaSocio_InputMessage">
    <wsdl:part name="parameters" element="tns:InhabilitarCuentaSocio" />
  </wsdl:message>
  <wsdl:message name="ISocioServicio_InhabilitarCuentaSocio_OutputMessage">
    <wsdl:part name="parameters" element="tns:InhabilitarCuentaSocioResponse" />
  </wsdl:message>
  <wsdl:message name="ISocioServicio_ObtenerSocios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSocios" />
  </wsdl:message>
  <wsdl:message name="ISocioServicio_ObtenerSocios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSociosResponse" />
  </wsdl:message>
  <wsdl:message name="ISocioServicio_BuscarSocioPorFolio_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarSocioPorFolio" />
  </wsdl:message>
  <wsdl:message name="ISocioServicio_BuscarSocioPorFolio_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarSocioPorFolioResponse" />
  </wsdl:message>
  <wsdl:message name="ISocioServicio_ExisteSocio_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteSocio" />
  </wsdl:message>
  <wsdl:message name="ISocioServicio_ExisteSocio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteSocioResponse" />
  </wsdl:message>
  <wsdl:portType name="ISocioServicio">
    <wsdl:operation name="RegistrarSocio">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocioServicio/RegistrarSocio" message="tns:ISocioServicio_RegistrarSocio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocioServicio/RegistrarSocioResponse" message="tns:ISocioServicio_RegistrarSocio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarSocio">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocioServicio/ModificarSocio" message="tns:ISocioServicio_ModificarSocio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocioServicio/ModificarSocioResponse" message="tns:ISocioServicio_ModificarSocio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InhabilitarCuentaSocio">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocioServicio/InhabilitarCuentaSocio" message="tns:ISocioServicio_InhabilitarCuentaSocio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocioServicio/InhabilitarCuentaSocioResponse" message="tns:ISocioServicio_InhabilitarCuentaSocio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSocios">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocioServicio/ObtenerSocios" message="tns:ISocioServicio_ObtenerSocios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocioServicio/ObtenerSociosResponse" message="tns:ISocioServicio_ObtenerSocios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarSocioPorFolio">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocioServicio/BuscarSocioPorFolio" message="tns:ISocioServicio_BuscarSocioPorFolio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocioServicio/BuscarSocioPorFolioResponse" message="tns:ISocioServicio_BuscarSocioPorFolio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteSocio">
      <wsdl:input wsaw:Action="http://tempuri.org/ISocioServicio/ExisteSocio" message="tns:ISocioServicio_ExisteSocio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISocioServicio/ExisteSocioResponse" message="tns:ISocioServicio_ExisteSocio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISocioServicio" type="tns:ISocioServicio">
    <wsp:PolicyReference URI="#NetTcpBinding_ISocioServicio_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegistrarSocio">
      <soap12:operation soapAction="http://tempuri.org/ISocioServicio/RegistrarSocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarSocio">
      <soap12:operation soapAction="http://tempuri.org/ISocioServicio/ModificarSocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InhabilitarCuentaSocio">
      <soap12:operation soapAction="http://tempuri.org/ISocioServicio/InhabilitarCuentaSocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSocios">
      <soap12:operation soapAction="http://tempuri.org/ISocioServicio/ObtenerSocios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarSocioPorFolio">
      <soap12:operation soapAction="http://tempuri.org/ISocioServicio/BuscarSocioPorFolio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteSocio">
      <soap12:operation soapAction="http://tempuri.org/ISocioServicio/ExisteSocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SocioServicio">
    <wsdl:port name="NetTcpBinding_ISocioServicio" binding="tns:NetTcpBinding_ISocioServicio">
      <soap12:address location="net.tcp://localhost:1010/SocioServicio/SocioServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1010/SocioServicio/SocioServicio</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-GDRRFCLH\laraf</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>