CineVerCliente/Connected Services/SocioServicio/SocioServicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SocioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Afiliado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Calle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Folio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSocio" type="xs:int" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCasa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroTelefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SocioDTO" nillable="true" type="tns:SocioDTO" />
  <xs:complexType name="ResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsExitoso" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDTO" nillable="true" type="tns:ResultDTO" />
  <xs:complexType name="ListaSociosDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ResultDTO" />
      <xs:element minOccurs="0" name="Socios" nillable="true" type="tns:ArrayOfSocioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaSociosDTO" nillable="true" type="tns:ListaSociosDTO" />
  <xs:complexType name="ArrayOfSocioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SocioDTO" nillable="true" type="tns:SocioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSocioDTO" nillable="true" type="tns:ArrayOfSocioDTO" />
  <xs:complexType name="SocioResponseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultDTO" nillable="true" type="tns:ResultDTO" />
      <xs:element minOccurs="0" name="socio" nillable="true" type="tns:SocioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SocioResponseDTO" nillable="true" type="tns:SocioResponseDTO" />
</xs:schema>