CineVerCliente/Connected Services/SalaServicio/SalaServicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SalaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoSala" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idSala" type="xs:int" />
      <xs:element minOccurs="0" name="idSucursal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroFilas" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalaDTO" nillable="true" type="tns:SalaDTO" />
  <xs:complexType name="ListaSalaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ResultDTO" />
      <xs:element minOccurs="0" name="Salas" nillable="true" type="tns:ArrayOfSalaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaSalaDTO" nillable="true" type="tns:ListaSalaDTO" />
  <xs:complexType name="ResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsExitoso" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDTO" nillable="true" type="tns:ResultDTO" />
  <xs:complexType name="ArrayOfSalaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalaDTO" nillable="true" type="tns:SalaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalaDTO" nillable="true" type="tns:ArrayOfSalaDTO" />
</xs:schema>