CineVerCliente/Connected Services/SalaServicio/SalaServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SalaServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISalaServicio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2020/SalaServicio?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2020/SalaServicio?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2020/SalaServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalaServicio_ObtenerSalasPorSucursal_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSalasPorSucursal" />
  </wsdl:message>
  <wsdl:message name="ISalaServicio_ObtenerSalasPorSucursal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSalasPorSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaServicio_AgregarSala_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSala" />
  </wsdl:message>
  <wsdl:message name="ISalaServicio_AgregarSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSalaResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaServicio_EditarSala_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarSala" />
  </wsdl:message>
  <wsdl:message name="ISalaServicio_EditarSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarSalaResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaServicio_EliminarSala_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSala" />
  </wsdl:message>
  <wsdl:message name="ISalaServicio_EliminarSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarSalaResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaServicio_ObtenerIdSala_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdSala" />
  </wsdl:message>
  <wsdl:message name="ISalaServicio_ObtenerIdSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdSalaResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaServicio_ObtenerSalasPorSucursalYNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSalasPorSucursalYNombre" />
  </wsdl:message>
  <wsdl:message name="ISalaServicio_ObtenerSalasPorSucursalYNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSalasPorSucursalYNombreResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalaServicio">
    <wsdl:operation name="ObtenerSalasPorSucursal">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaServicio/ObtenerSalasPorSucursal" message="tns:ISalaServicio_ObtenerSalasPorSucursal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaServicio/ObtenerSalasPorSucursalResponse" message="tns:ISalaServicio_ObtenerSalasPorSucursal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarSala">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaServicio/AgregarSala" message="tns:ISalaServicio_AgregarSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaServicio/AgregarSalaResponse" message="tns:ISalaServicio_AgregarSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarSala">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaServicio/EditarSala" message="tns:ISalaServicio_EditarSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaServicio/EditarSalaResponse" message="tns:ISalaServicio_EditarSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarSala">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaServicio/EliminarSala" message="tns:ISalaServicio_EliminarSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaServicio/EliminarSalaResponse" message="tns:ISalaServicio_EliminarSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIdSala">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaServicio/ObtenerIdSala" message="tns:ISalaServicio_ObtenerIdSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaServicio/ObtenerIdSalaResponse" message="tns:ISalaServicio_ObtenerIdSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSalasPorSucursalYNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaServicio/ObtenerSalasPorSucursalYNombre" message="tns:ISalaServicio_ObtenerSalasPorSucursalYNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaServicio/ObtenerSalasPorSucursalYNombreResponse" message="tns:ISalaServicio_ObtenerSalasPorSucursalYNombre_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISalaServicio" type="tns:ISalaServicio">
    <wsp:PolicyReference URI="#NetTcpBinding_ISalaServicio_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ObtenerSalasPorSucursal">
      <soap12:operation soapAction="http://tempuri.org/ISalaServicio/ObtenerSalasPorSucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSala">
      <soap12:operation soapAction="http://tempuri.org/ISalaServicio/AgregarSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarSala">
      <soap12:operation soapAction="http://tempuri.org/ISalaServicio/EditarSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSala">
      <soap12:operation soapAction="http://tempuri.org/ISalaServicio/EliminarSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIdSala">
      <soap12:operation soapAction="http://tempuri.org/ISalaServicio/ObtenerIdSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSalasPorSucursalYNombre">
      <soap12:operation soapAction="http://tempuri.org/ISalaServicio/ObtenerSalasPorSucursalYNombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalaServicio">
    <wsdl:port name="NetTcpBinding_ISalaServicio" binding="tns:NetTcpBinding_ISalaServicio">
      <soap12:address location="net.tcp://localhost:1010/SalaServicio/SalaServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1010/SalaServicio/SalaServicio</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ESTUDIANTES\zS22013626</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>