CineVerCliente/Connected Services/PeliculaServicio/PelículaServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="PelículaServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPelículaServicio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2020/PeliculaServicio?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2020/PeliculaServicio?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2020/PeliculaServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPelículaServicio_ObtenerPeliculaPorID_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPeliculaPorID" />
  </wsdl:message>
  <wsdl:message name="IPelículaServicio_ObtenerPeliculaPorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPeliculaPorIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPelículaServicio_ObtenerListaPeliculas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaPeliculas" />
  </wsdl:message>
  <wsdl:message name="IPelículaServicio_ObtenerListaPeliculas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaPeliculasResponse" />
  </wsdl:message>
  <wsdl:message name="IPelículaServicio_ObtenerPeliculasPorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPeliculasPorNombre" />
  </wsdl:message>
  <wsdl:message name="IPelículaServicio_ObtenerPeliculasPorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPeliculasPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IPelículaServicio_ObtenerIdPelicula_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdPelicula" />
  </wsdl:message>
  <wsdl:message name="IPelículaServicio_ObtenerIdPelicula_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdPeliculaResponse" />
  </wsdl:message>
  <wsdl:message name="IPelículaServicio_AgregarPelicula_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPelicula" />
  </wsdl:message>
  <wsdl:message name="IPelículaServicio_AgregarPelicula_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPeliculaResponse" />
  </wsdl:message>
  <wsdl:message name="IPelículaServicio_EditarPelicula_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarPelicula" />
  </wsdl:message>
  <wsdl:message name="IPelículaServicio_EditarPelicula_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarPeliculaResponse" />
  </wsdl:message>
  <wsdl:message name="IPelículaServicio_EliminarPelicula_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPelicula" />
  </wsdl:message>
  <wsdl:message name="IPelículaServicio_EliminarPelicula_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPeliculaResponse" />
  </wsdl:message>
  <wsdl:portType name="IPelículaServicio">
    <wsdl:operation name="ObtenerPeliculaPorID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPelículaServicio/ObtenerPeliculaPorID" message="tns:IPelículaServicio_ObtenerPeliculaPorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPelículaServicio/ObtenerPeliculaPorIDResponse" message="tns:IPelículaServicio_ObtenerPeliculaPorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaPeliculas">
      <wsdl:input wsaw:Action="http://tempuri.org/IPelículaServicio/ObtenerListaPeliculas" message="tns:IPelículaServicio_ObtenerListaPeliculas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPelículaServicio/ObtenerListaPeliculasResponse" message="tns:IPelículaServicio_ObtenerListaPeliculas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPeliculasPorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IPelículaServicio/ObtenerPeliculasPorNombre" message="tns:IPelículaServicio_ObtenerPeliculasPorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPelículaServicio/ObtenerPeliculasPorNombreResponse" message="tns:IPelículaServicio_ObtenerPeliculasPorNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIdPelicula">
      <wsdl:input wsaw:Action="http://tempuri.org/IPelículaServicio/ObtenerIdPelicula" message="tns:IPelículaServicio_ObtenerIdPelicula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPelículaServicio/ObtenerIdPeliculaResponse" message="tns:IPelículaServicio_ObtenerIdPelicula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarPelicula">
      <wsdl:input wsaw:Action="http://tempuri.org/IPelículaServicio/AgregarPelicula" message="tns:IPelículaServicio_AgregarPelicula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPelículaServicio/AgregarPeliculaResponse" message="tns:IPelículaServicio_AgregarPelicula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarPelicula">
      <wsdl:input wsaw:Action="http://tempuri.org/IPelículaServicio/EditarPelicula" message="tns:IPelículaServicio_EditarPelicula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPelículaServicio/EditarPeliculaResponse" message="tns:IPelículaServicio_EditarPelicula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPelicula">
      <wsdl:input wsaw:Action="http://tempuri.org/IPelículaServicio/EliminarPelicula" message="tns:IPelículaServicio_EliminarPelicula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPelículaServicio/EliminarPeliculaResponse" message="tns:IPelículaServicio_EliminarPelicula_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPelículaServicio" type="tns:IPelículaServicio">
    <wsp:PolicyReference URI="#NetTcpBinding_IPelículaServicio_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ObtenerPeliculaPorID">
      <soap12:operation soapAction="http://tempuri.org/IPelículaServicio/ObtenerPeliculaPorID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaPeliculas">
      <soap12:operation soapAction="http://tempuri.org/IPelículaServicio/ObtenerListaPeliculas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPeliculasPorNombre">
      <soap12:operation soapAction="http://tempuri.org/IPelículaServicio/ObtenerPeliculasPorNombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIdPelicula">
      <soap12:operation soapAction="http://tempuri.org/IPelículaServicio/ObtenerIdPelicula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarPelicula">
      <soap12:operation soapAction="http://tempuri.org/IPelículaServicio/AgregarPelicula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarPelicula">
      <soap12:operation soapAction="http://tempuri.org/IPelículaServicio/EditarPelicula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPelicula">
      <soap12:operation soapAction="http://tempuri.org/IPelículaServicio/EliminarPelicula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PelículaServicio">
    <wsdl:port name="NetTcpBinding_IPelículaServicio" binding="tns:NetTcpBinding_IPelículaServicio">
      <soap12:address location="net.tcp://localhost:1010/PeliculaServicio/PeliculaServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1010/PeliculaServicio/PeliculaServicio</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-4SRV2TJ2\yaela</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>