CineVerCliente/Connected Services/AsientoServicio/AsientoServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AsientoServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAsientoServicio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2020/AsientoServicio?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2020/AsientoServicio?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2020/AsientoServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAsientoServicio_AgregarAsiento_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarAsiento" />
  </wsdl:message>
  <wsdl:message name="IAsientoServicio_AgregarAsiento_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarAsientoResponse" />
  </wsdl:message>
  <wsdl:message name="IAsientoServicio_EditarAsiento_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarAsiento" />
  </wsdl:message>
  <wsdl:message name="IAsientoServicio_EditarAsiento_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarAsientoResponse" />
  </wsdl:message>
  <wsdl:message name="IAsientoServicio_EliminarAsiento_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAsiento" />
  </wsdl:message>
  <wsdl:message name="IAsientoServicio_EliminarAsiento_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAsientoResponse" />
  </wsdl:message>
  <wsdl:message name="IAsientoServicio_ObtenerIdAsiento_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdAsiento" />
  </wsdl:message>
  <wsdl:message name="IAsientoServicio_ObtenerIdAsiento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdAsientoResponse" />
  </wsdl:message>
  <wsdl:message name="IAsientoServicio_ObtenerListaAsientosPorFila_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaAsientosPorFila" />
  </wsdl:message>
  <wsdl:message name="IAsientoServicio_ObtenerListaAsientosPorFila_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaAsientosPorFilaResponse" />
  </wsdl:message>
  <wsdl:portType name="IAsientoServicio">
    <wsdl:operation name="AgregarAsiento">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsientoServicio/AgregarAsiento" message="tns:IAsientoServicio_AgregarAsiento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsientoServicio/AgregarAsientoResponse" message="tns:IAsientoServicio_AgregarAsiento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarAsiento">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsientoServicio/EditarAsiento" message="tns:IAsientoServicio_EditarAsiento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsientoServicio/EditarAsientoResponse" message="tns:IAsientoServicio_EditarAsiento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarAsiento">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsientoServicio/EliminarAsiento" message="tns:IAsientoServicio_EliminarAsiento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsientoServicio/EliminarAsientoResponse" message="tns:IAsientoServicio_EliminarAsiento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIdAsiento">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsientoServicio/ObtenerIdAsiento" message="tns:IAsientoServicio_ObtenerIdAsiento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsientoServicio/ObtenerIdAsientoResponse" message="tns:IAsientoServicio_ObtenerIdAsiento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaAsientosPorFila">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsientoServicio/ObtenerListaAsientosPorFila" message="tns:IAsientoServicio_ObtenerListaAsientosPorFila_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsientoServicio/ObtenerListaAsientosPorFilaResponse" message="tns:IAsientoServicio_ObtenerListaAsientosPorFila_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAsientoServicio" type="tns:IAsientoServicio">
    <wsp:PolicyReference URI="#NetTcpBinding_IAsientoServicio_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AgregarAsiento">
      <soap12:operation soapAction="http://tempuri.org/IAsientoServicio/AgregarAsiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarAsiento">
      <soap12:operation soapAction="http://tempuri.org/IAsientoServicio/EditarAsiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAsiento">
      <soap12:operation soapAction="http://tempuri.org/IAsientoServicio/EliminarAsiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIdAsiento">
      <soap12:operation soapAction="http://tempuri.org/IAsientoServicio/ObtenerIdAsiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaAsientosPorFila">
      <soap12:operation soapAction="http://tempuri.org/IAsientoServicio/ObtenerListaAsientosPorFila" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AsientoServicio">
    <wsdl:port name="NetTcpBinding_IAsientoServicio" binding="tns:NetTcpBinding_IAsientoServicio">
      <soap12:address location="net.tcp://localhost:1010/AsientoServicio/AsientoServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1010/AsientoServicio/AsientoServicio</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ESTUDIANTES\zS22013626</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>