CineVerCliente/Connected Services/AsientoServicio/AsientoServicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AsientoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAsiento" type="xs:int" />
      <xs:element minOccurs="0" name="idFila" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="letraColumna" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AsientoDTO" nillable="true" type="tns:AsientoDTO" />
  <xs:complexType name="ListaAsientosDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asientos" nillable="true" type="tns:ArrayOfAsientoDTO" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="tns:ResultDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaAsientosDTO" nillable="true" type="tns:ListaAsientosDTO" />
  <xs:complexType name="ArrayOfAsientoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AsientoDTO" nillable="true" type="tns:AsientoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAsientoDTO" nillable="true" type="tns:ArrayOfAsientoDTO" />
  <xs:complexType name="ResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsExitoso" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDTO" nillable="true" type="tns:ResultDTO" />
</xs:schema>