CineVerCliente/Connected Services/DulceriaServicio/DulceriaServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="DulceriaServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDulceriaServicio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2020/DulceriaServicio?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2020/DulceriaServicio?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2020/DulceriaServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" />
      <xsd:import schemaLocation="http://localhost:2020/DulceriaServicio?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDulceriaServicio_ObtenerProductosDulceria_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosDulceria" />
  </wsdl:message>
  <wsdl:message name="IDulceriaServicio_ObtenerProductosDulceria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosDulceriaResponse" />
  </wsdl:message>
  <wsdl:message name="IDulceriaServicio_AgregarInventario_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarInventario" />
  </wsdl:message>
  <wsdl:message name="IDulceriaServicio_AgregarInventario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarInventarioResponse" />
  </wsdl:message>
  <wsdl:message name="IDulceriaServicio_AgregarProductoDulceria_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProductoDulceria" />
  </wsdl:message>
  <wsdl:message name="IDulceriaServicio_AgregarProductoDulceria_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProductoDulceriaResponse" />
  </wsdl:message>
  <wsdl:message name="IDulceriaServicio_ObtenerProductoDulceria_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductoDulceria" />
  </wsdl:message>
  <wsdl:message name="IDulceriaServicio_ObtenerProductoDulceria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductoDulceriaResponse" />
  </wsdl:message>
  <wsdl:message name="IDulceriaServicio_ActualizarProductoDulceria_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProductoDulceria" />
  </wsdl:message>
  <wsdl:message name="IDulceriaServicio_ActualizarProductoDulceria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProductoDulceriaResponse" />
  </wsdl:message>
  <wsdl:message name="IDulceriaServicio_ReportarMerma_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportarMerma" />
  </wsdl:message>
  <wsdl:message name="IDulceriaServicio_ReportarMerma_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportarMermaResponse" />
  </wsdl:message>
  <wsdl:portType name="IDulceriaServicio">
    <wsdl:operation name="ObtenerProductosDulceria">
      <wsdl:input wsaw:Action="http://tempuri.org/IDulceriaServicio/ObtenerProductosDulceria" message="tns:IDulceriaServicio_ObtenerProductosDulceria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDulceriaServicio/ObtenerProductosDulceriaResponse" message="tns:IDulceriaServicio_ObtenerProductosDulceria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarInventario">
      <wsdl:input wsaw:Action="http://tempuri.org/IDulceriaServicio/AgregarInventario" message="tns:IDulceriaServicio_AgregarInventario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDulceriaServicio/AgregarInventarioResponse" message="tns:IDulceriaServicio_AgregarInventario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarProductoDulceria">
      <wsdl:input wsaw:Action="http://tempuri.org/IDulceriaServicio/AgregarProductoDulceria" message="tns:IDulceriaServicio_AgregarProductoDulceria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDulceriaServicio/AgregarProductoDulceriaResponse" message="tns:IDulceriaServicio_AgregarProductoDulceria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductoDulceria">
      <wsdl:input wsaw:Action="http://tempuri.org/IDulceriaServicio/ObtenerProductoDulceria" message="tns:IDulceriaServicio_ObtenerProductoDulceria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDulceriaServicio/ObtenerProductoDulceriaResponse" message="tns:IDulceriaServicio_ObtenerProductoDulceria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarProductoDulceria">
      <wsdl:input wsaw:Action="http://tempuri.org/IDulceriaServicio/ActualizarProductoDulceria" message="tns:IDulceriaServicio_ActualizarProductoDulceria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDulceriaServicio/ActualizarProductoDulceriaResponse" message="tns:IDulceriaServicio_ActualizarProductoDulceria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportarMerma">
      <wsdl:input wsaw:Action="http://tempuri.org/IDulceriaServicio/ReportarMerma" message="tns:IDulceriaServicio_ReportarMerma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDulceriaServicio/ReportarMermaResponse" message="tns:IDulceriaServicio_ReportarMerma_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDulceriaServicio" type="tns:IDulceriaServicio">
    <wsp:PolicyReference URI="#NetTcpBinding_IDulceriaServicio_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ObtenerProductosDulceria">
      <soap12:operation soapAction="http://tempuri.org/IDulceriaServicio/ObtenerProductosDulceria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarInventario">
      <soap12:operation soapAction="http://tempuri.org/IDulceriaServicio/AgregarInventario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarProductoDulceria">
      <soap12:operation soapAction="http://tempuri.org/IDulceriaServicio/AgregarProductoDulceria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductoDulceria">
      <soap12:operation soapAction="http://tempuri.org/IDulceriaServicio/ObtenerProductoDulceria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProductoDulceria">
      <soap12:operation soapAction="http://tempuri.org/IDulceriaServicio/ActualizarProductoDulceria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportarMerma">
      <soap12:operation soapAction="http://tempuri.org/IDulceriaServicio/ReportarMerma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DulceriaServicio">
    <wsdl:port name="NetTcpBinding_IDulceriaServicio" binding="tns:NetTcpBinding_IDulceriaServicio">
      <soap12:address location="net.tcp://localhost:1010/DulceriaServicio/DulceriaServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1010/DulceriaServicio/DulceriaServicio</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ESTUDIANTES\zS22013626</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>