CineVerCliente/Connected Services/DulceriaServicio/DulceriaServicio21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CineVerServicios.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ListaProductosDulceriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Productos" nillable="true" type="tns:ArrayOfProductoDulceriaDTO" />
      <xs:element minOccurs="0" name="ResultDTO" nillable="true" type="tns:ResultDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaProductosDulceriaDTO" nillable="true" type="tns:ListaProductosDulceriaDTO" />
  <xs:complexType name="ArrayOfProductoDulceriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductoDulceriaDTO" nillable="true" type="tns:ProductoDulceriaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductoDulceriaDTO" nillable="true" type="tns:ArrayOfProductoDulceriaDTO" />
  <xs:complexType name="ProductoDulceriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadInventario" type="xs:int" />
      <xs:element minOccurs="0" name="CostoUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="IdSucursal" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioVentaUnitario" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoDulceriaDTO" nillable="true" type="tns:ProductoDulceriaDTO" />
  <xs:complexType name="ResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsExitoso" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDTO" nillable="true" type="tns:ResultDTO" />
  <xs:complexType name="ProductoDulceriaResponseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Producto" nillable="true" type="tns:ProductoDulceriaDTO" />
      <xs:element minOccurs="0" name="ResultDTO" nillable="true" type="tns:ResultDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoDulceriaResponseDTO" nillable="true" type="tns:ProductoDulceriaResponseDTO" />
</xs:schema>